

hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.highlight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d1d1d;
  margin: 1.5rem auto;
  text-align: left;
  gap: 1rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 1400px;
  width: 100%;
}

.btn-group {
  display: flex;
  width: 100%;
  overflow-x: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-wrap: nowrap;
  /* border-bottom: 1px solid #e5e7eb; */
}

.tab-style {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e5e7eb;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #6b7280;
  background-color: transparent;
  flex: 1;
  width: auto;
}

.tab-style:hover {
  border-bottom: 2px solid #1d1d1f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #1d1d1f;
  cursor: pointer;
}

.active-tab {
  border-bottom: 2px solid #1d1d1f;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: #1d1d1f;
}

.content-container {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-bottom: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
  border-radius: 0.25rem;
}

.Today-container {
  position: relative;
  width: 100%;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.seo-header {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.today-content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(80% - 0.5rem);
  gap: 0.75rem;
  padding-right: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-direction: column-reverse;
}

.event-card {
  position: relative;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid #b1b1b1;
  text-align: start;
  scroll-snap-align: start;
}

.event-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.event-details {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.5rem;
  gap: 0.5rem;
}

.event-header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.event-header2 {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.event-title {
  font-size: 22px;
  line-height: 1.5rem;
  font-weight: 700;
}

.event-info {
  margin-top: -0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.event-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.map-iframe {
  height: 500px;
  width: 100%;
  border: 0;
}

.res-grid {
  display: grid;
  width: 100%;
  background-color: #fff;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.ser-grid {
  display: grid;
  width: 100%;
  background-color: #fff;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.res-card {
  position: relative;
  width: 100%;
  background-color: #fff;
  border: 1px solid #8b8b8b;
  border-radius: 0.25rem;
}

.res-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem 0.25rem 0 0;
}

.res-details {
  padding: 0.5rem 1rem;
}

.res-details p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
}

.res-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.service-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px solid #b1b1b1;
}

.service-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-details {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
}

.service-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.service-desc {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.service-desc p {
  width: 90%;
}

.service-desc a {
  width: 2.5rem;
  height: 2.5rem;
}

.service-desc a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
  background: #fff;
}

.slide-wrapper {
  width: 100%;
  overflow: hidden;
}

.slide-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(100% - 0.5rem);
  height: 820px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0 0.5rem;
}

.dot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  background-color: #991b1b;
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
}

.active-dot {
  background-color: #7f1d1d;
}

.slide-item {
  position: relative;
  display: flex;
  width: 100%;
  scroll-snap-align: center;
  height: 800px;
}

.slide-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  scroll-snap-align: center;
}

.carousel-prev {
  position: absolute;
  left: 0;
  z-index: 1;
  display: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.carousel-next {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.carousel-prev:hover {
  background-color: #d1d5db;
  /* Gray 300 */
}

.carousel-next:hover {
  background-color: #d1d5db;
  /* Gray 300 */
}

@media (min-width: 640px) {
  .res-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ser-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .highlight-container {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    gap: 1.5rem;
  }

  .btn-group {
    font-size: 1rem;
    line-height: 1.5rem;
    overflow: visible;
  }

  .content-container {
    padding: 1.5rem;
  }

  .today-content {
    grid-auto-columns: calc(40% - 0.5rem);
    gap: 1.5rem;
  }

  .event-details {
    padding: 0.75rem;
  }

  .event-title {
    font-size: 26px;
    line-height: 1.75rem;
  }

  .map-iframe {
    height: 665px;
  }

  .res-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .ser-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .service-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .service-desc {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .carousel-prev {
    display: block;
  }

  .carousel-next {
    display: block;
  }
}

@media (min-width: 1024px) {
  .res-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}


